# --- Archivos generados por LaTeX (BASURA) ---
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.synctex.gz
*.nlo
*.nls
*.eix
*.idx
*.ind
*.ilg
*.gls
*.glo
*.ist

# --- Archivos de configuración de editores (IDE) ---
mecatexis.prj
.vscode/

# --- Archivos comprimidos o temporales ---
*.zip
*.bak
*.sav
*~

# --- EXCEPCIÓN IMPORTANTE ---
# Normalmente ignoraríamos todos los PDFs generados, pero
!*.pdf